SILEDJE_LICENSE_SECRET=
SILEDJE_CLOUD_SYNC_URL=

SUPABASE_URL=https://mon-projet.supabase.co
SUPABASE_API_KEY=ta_clé_service_role


SILEDJE_CLOUD_SYNC_URL=https://asrldlepgaklekzoihft.supabase.co/storage/v1/object/backups
SILEDJE_CLOUD_SYNC_TOKEN=<la même clé secrète que ton SUPABASE_API_KEY>